.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: calc(100% - 56px);
}
.content__body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}
.content__banner {
  width: 90%;
  margin: 1rem 0;
}
.content__banner-item {
  padding: 20px;
  text-align: center;
  background-color: #ecebde;
}
.content__slider {
  width: 90%;
  overflow: hidden;
}
